@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 99, 1%, 99%;
    --foreground: 33, 3%, 10%;

    --muted: 80, 2%, 90%;
    --muted-foreground: 33, 3%, 30%;

    --popover: 80, 2%, 90%;
    --popover-foreground: 33, 3%, 30%;

    --card: 99, 1%, 99%;
    --card-foreground: 33, 3%, 10%;

    --primary: 33, 3%, 10%;
    --primary-foreground: 99, 1%, 99%;

    --secondary: 33, 3%, 30%;
    --secondary-foreground: 99, 1%, 99%;

    --accent: 33, 3%, 10%;
    --accent-foreground: 99, 1%, 99%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 80, 2%, 90%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 10, 1%, 10%;
    --foreground: 99, 1%, 99%;

    --muted: 20, 2%, 10%;
    --muted-foreground: 99, 1%, 99%;

    --popover: 20, 2%, 10%;
    --popover-foreground: 99, 1%, 99%;

    --card: 10, 1%, 10%;
    --card-foreground: 99, 1%, 99%;

    --primary: 99, 1%, 99%;
    --primary-foreground: 10, 1%, 10%;

    --secondary: 99, 1%, 99%;
    --secondary-foreground: 10, 1%, 10%;

    --accent: 99, 1%, 99%;
    --accent-foreground: 10, 1%, 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 217.2 0.6% 17.5%;
    --input: 217.2 0.6% 17.5%;
    --ring: 20, 2%, 10%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}